body{
  /*font-family: 'Luckiest Guy', cursive;*/
  background-color: rgb(57, 166, 149);
}

#root{
  font-size: 1.5rem;
  text-transform: capitalize;
}

.size{
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
